.appWrapper {
  display: grid;
  grid-template-areas:
    "h h "
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  margin-top: 20px;
}
.content {
  grid-area: c;
}
.nav {
  grid-area: n;
  padding: 30px;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.notFound {
  font-size: 35px;
  color: brown;
}
@media only screen and (max-width: 915px) {
  .appWrapper {
    display: grid;
    grid-template-areas:
      "h h h h h h"
      "n n n n n n"
      "c c c c c c";
  }
}
